
<h1>Scoreboard</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <% @problems.each do |problem|%>
        
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @solutions.each do |solution| %>
      <tr>
        <td><%= solution %></td>
        
    <% end %>
    </tr>
    <% @scores.each do |key, array| %>
      <tr>
        <td><%= array %></td>
        
    <% end %>
    </tr>
  </tbody>
</table>

<br>