<p>
  <strong>Solution:</strong>
  <%= @execution.solution.id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @execution.status %>
</p>

<p>
  <strong>Runtime:</strong>
  <%= @execution.runTime %>
</p>


<%= link_to 'Back', executions_path %>
