<header class="blue big-padding">
  <div class="col-md-10 no-float center-block">
    <div class="col-md-6 no-padding inline-block">
      <h1 class="white-text ultra-big kostic"><strong><%= message %></strong></h1>
    </div>
    <div class="col-md-5 inline-block">
      <%= image_tag("mono.png") %>
    </div>
  </div>
</header>