<div class="dark-red small-padding"></div>
<div class="red big-padding">
  <div class="col-md-offset-4 col-md-4 no-padding inline-block">
    <%= image_tag("logoCHJ_color.png", width: "180px", class: "center-block") %>
  </div>
  <div class="col-md-3 no-padding inline-block white-text small no-float text-right" , style="bottom: 0">
    <p><%= t("quote.text") %></p>
    <p><%= t("quote.author") %></p>
  </div>
</div>