<div class="dark-red small-padding"></div>
<div class="red big-padding">
  <div class="col-md-offset-4 col-md-4 no-padding inline-block">
    <%= image_tag("logo-red.png", width: "250px", class: "center-block") %>
    <div class="white-text medium" style="margin-top: -15px;">
      <p class="text-center no-margin">Aldo Rincón Mora</p>
      <p class="text-center">Diego Andrés Tarazona Orduz</p>
    </div>
  </div>
  <div class="col-md-3 no-padding inline-block white-text small no-float text-right" , style="bottom: 0">
    <p>Los obstáculos son esas cosas espantosas que ves cuando apartas los ojos de tu meta.</p>
    <p>-Henry Ford</p>
  </div>
</div>