<%= render "shared/empty_collection", message: "Hola de nuevo #{current_user.email_user}, bienvenido y manos a la obra" %>
<div class="grey white-text kostic big-padding">
  <div class="col-md-10 no-float center-block">
    <% if @contests.size > 0 %>
        <h2 class="bigger text-center"><strong>Próximas competencias</strong></h2>
        <div class="text-center">
          <% @contests.each do |contest| %>
              <div class="col-md-3 inline-block text-left">
                <div class="top-space">
                  <strong class="medium">
                    <%= contest.title %>
                  </strong>
                  <p class="white-text text-justify medium"><%= contest.description %></p>
                  <p class="white-text text-justify medium">
                  <p>Comienza en
                    <time data-time="<%= contest.next_date.strftime('%Y-%m-%d %H:%M') %>"></time>
                  </p>
                </div>
              </div>
          <% end %>
        </div>
    <% else %>
        <h2 class="bigger text-center"><strong>Ups...</strong></h2>
        <p>
        <h3>Aún no se han programado más competencias, pide más competencias a tu entrenador.</h3></p>
    <% end %>
  </div>
</div>